@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Playfair+Display:ital,wght@1,500&display=swap');

:root {

  --w: #ffffff; 
  --b: black;
  --lg: #556270;
 --lc: #fcf9f5;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/*---------- general css ---------- */

body{

  font-family: 'Baloo Bhaijaan 2', cursive;
  
}



ul li{
  cursor:pointer !important;
  list-style: none;
}



.section-title{
  background-image: url(../img/p-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
  color: var(--w);
}
.section-title h1{
  
  font-size: 3.5em;
}


/*---------- nav css ---------- */
.color{
  background-color: var(--w);
  box-shadow: 3px 1px 20px 0 rgb(0 0 0 / 7%);
  
}
.navb{
  color: var(--b) !important;
}
.navl{
  color: var(--b) !important;
}
.navbar-m-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  color: var(--w);
}


.navbar{
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 99;
  height: 5rem;
  
}
.navbar-brand{
  color:var(--b);
  font: 4em sans-serif;
}

.nav-link{
   color: var(--b);
 }

.nav-link:hover{
  color: var(--b);
}

.navbar a{

  color: var(--b);

}
.navbar a:hover{
  color: var(--b);
}

.parallaxe{
  background-image: url(../img/slider/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 20rem;
  color: var(--w);
}

/*---------- home css ---------- */
.home a{
color: var(--b);
}
.home a:hover{
  color: var(--b);
  }
.swiper {
  width: 100%;
  height: 660px;
  background: #000;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 1043px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 130%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper-horizontal .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 50%;
    left: 46%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0.3rem;
}

.img{
  clip-path: circle(28.3% at 49% 38%);
}
.profile{
  display: flex;
  justify-content: space-around;
}

/*---------- about css ---------- */

.about a{
  color: var(--b);
}

.about a:hover{
  color: var(--b);
}

.top-about{
  
  background-color: var(--lc) !important;
  height: 27em;

} 
.about-contant{

  background-color: var(--lc);
  
  
 
}

/*---------- services css ---------- */

.services-card {
  
  width: 50em;
  height: 20em;

}

.services-card-inner {
  position: relative;
  width: 130%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.services-card:hover .services-card-inner {
  transform: rotateY(180deg);
}

.services-card-front, .services-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.services-card-front {
  
  color: white;
}

.services-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3a3b3b;
  color: white;
  transform: rotateY(180deg);
  transition: transform 0.2s;
  
}

.services .row-cols-lg-3{
  width: 76em !important;

}

/*---------- portfolio css ---------- */

.portfolio .row-cols-md-3{

  width: 57em !important;

}



/* services css */
.services_card{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTahYztqJn-1cjF8_3FztlqjHyyMrQn7AYtkQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
}

.services_card_text{

  text-align: center !important;

}

.contact-title{
  font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Playfair Display', serif;
}

/*---------- Testimonials ---------- */

.testimonial{
  display: flex;
  align-items: center;
  background-color: var(--lc);
  color: var(--b);
  height: 35rem;

}
.testimonials{
  display: flex;
  align-items: center;
  background-image: url(../img/slider/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35rem;
  color: var(--w);
  /* background-color: var(--lg); */
}


.flex{
  display: flex!important;
  align-items: center;
  justify-content: space-between;

}

/*---------- gallery css ---------- */

.gallery{
  margin:  0em 0em 0em 1em;
}

.gallery .row-cols-lg-3{
  width: 83em !important;

}

/*---------- blog ---------- */

.blog-title{
  
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url(../img/default-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
  color: var(--w);

}

 .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(17, 17, 17, 0.151);
}
 .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: var(--lg);
  position: relative;
}
 
.sidebar .recent-posts span{
  position: relative;
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  color: var(--lg);
  bottom: 18px;

}
 
 .sidebar  ul a  {
  padding-left: 5px;
  color: var(--lg);
  font-size: 14px;
}

.sidebar-item a{
  color: var(--lg);
  padding: 6px 14px;
  margin: 0 49px 8px 0;
  border: 1px solid white;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

 .sidebar .recent-posts h4 {
  position: relative;
  font-size: 16px;
  margin-left: 77px;
  font-weight: bold;
  bottom: 28px;
}
 
 .sidebar .item-tags ul li {
  display: inline-block;
}
 .sidebar .item-tags ul a {
  color: #96a2af;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid white;
  display: inline-block;
  background-color: azure;

}
 

/*---------- footer css ---------- */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}

@media (max-width: 767px) {

  .footer{
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    align-items: center;
    
  }

}


